body{
    background-color: rgb(10, 10, 10);
}
.disp{
    display: flex;
    margin-top: 30px;
    padding: 10px;
    width:30%;
    height: 500px;
    background-color: rgb(243, 238, 238);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.stor{
    height: 60px;
    width:60px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
#upld{
    margin: 0;
    display: flex;
}
.storyimg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit:cover;
    margin: 0;
}
.storyimgbtn{
     width: 62px;
    height: 62px;
    border-radius: 50%;
    padding: 0;
    border: 3px solid rgb(230, 27, 95);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}