body{
    background-color: rgb(10, 10, 10);
}
.disp{
    display: flex;
    margin-top: 30px;
    padding: 10px;
    width:30%;
    height: 500px;
    background-color: rgb(243, 238, 238);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.stor{
    height: 60px;
    width:60px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.storyimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.storyimgbtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
     object-fit: cover
}